 <style> 
 .generatecssdotcom_neon { position: absolute;top: 0;right: 0;font-size:8px;color: #cccccc;} 
 .generatecssdotcom_neon a {color: #cccccc; text-decoration:none; font-weight:normal; } 
 .generatecssdotcom_neon a:hover {color: #cccccc; text-decoration:none; font-weight:normal; } 
 #generatecssdotcom_text {font-size: 80px; font-family: Georgia;color: #32CD32; text-shadow:0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #32CD32,0 0 70px #32CD32,0 0 80px #32CD32,0 0 100px #32CD32,0 0 170px #32CD32;text-align:center; line-height:250px;} 
 <style> 
